*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
  overflow: hidden;
}
.viewing{
  z-index: 6000
}
.hide{
  z-index: -100;
}
nav {
    position: absolute;
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 55px;
    padding: 15px;
    z-index: 9999;
    top: 0;
}

.logo {
    display: flex;
    color: white;
    width: max-content;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
}
.links{
  display: flex;
  flex-grow: 1;
  width: 100%;
  z-index: -1;
}
.links ul {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 20px;
  height: 100%;
}
.links ul li{
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
  width: 100%;
}

.links ul li a{
  color: white;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  font-weight: 700;
}
.links ul li a:hover{
  background: rgba( 242, 242, 242, 0.55 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  
}


.socialMedia {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  max-width: 200px;
  margin: 0 auto;
  height: max-content;
  background: transparent;
  z-index: 6500;
}
.socialMedia a {
  font-size: 2rem;
  color: white;
}
.socialMedia a:nth-of-type(1){
  margin: 0 20px;
}

.socialMedia a:hover{
  box-shadow: 0 8px 32px 0 rgba(58, 64, 157, 0.4);
}

#nav-icon {
  display: none;
  width: 40px;
  height: 45px;
  position: relative;
  margin-left: auto;
  margin-right: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 500;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon span:nth-child(1) {
  top: 10px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 20px;
}

#nav-icon span:nth-child(4) {
  top: 30px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hero{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  text-align: center;
}
.shadow{
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0;
  background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
}

@keyframes popOut{
  0%{
    opacity: 0; 
    transform: scale(1.7);
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes breathe {
  0%{
    opacity: 0;
    transform: scale(0);
  }
  50%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
    z-index: 5000;
  }
}
@keyframes reveal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.title{
  
  position: absolute;
  line-height: 2.2em;
  z-index: 5000;
}
.titleName.pop{
  animation: popOut 1.1s ease-in 4s forwards;
}
.titleName{
  opacity: 0;
  pointer-events: none;
}
.title h1{
  font-size: 3rem;
}
.title span{
  font-size: 1.5rem;
  font-weight: 100;
}
.title button{
  pointer-events: none;
  position: relative;
  opacity: 0;
  margin-top: 15px;
  font-size: 1rem;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
  border: 2px solid #eee;
  background: black;
  color: white;
}
.titleButton.pop{
  animation: breathe 1.3s 5s forwards;
}
.titleButton .fill{
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 9px;
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.fill::before{
  content: "Let's connect!"
}
.titleButton .content{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  width: 100%;
  height: 100%;
  background: black;
}
.down{
  display: none;
}
.flame1{
  opacity: 0;
  position: absolute;
  width: 30px;
  height: 30px;
  transform-origin: 50% 50%;
  transform: rotate(90deg) skew(-24deg, -11deg);
  top: 6px;
  left: 106px;
  background: linear-gradient(135deg, #edc200 0%, #edc200 50%, #ee9e00 50%, #ee9e00 100%);
  box-shadow: 0 0 50px 1px rgba(238, 158, 0, 0.5);
  z-index: -1;
}
.flame1.takeoff{
  animation-name: flameMotion;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.title button::before{
  opacity: 0;
  content: "Let's connect!";
}

.title button:hover{
  cursor: pointer;
}

.title button.connect{
  opacity: 1;
  color: black;
  background: white;
  animation: flyAway 7s linear forwards;
}
.titleButton .fill:hover{
  background: white;
  color: black;
}
.titleButton .fill.connect{
  color: black;
  background: white;
}
.title button.connect::before{
  content: "Connecting..."
}
.titleButton .fill.connect::before{
  content: "Connecting..."
}

.rope{
  position: absolute;
  top: 20%;
  left: 100%;
  height: 5px;
  z-index: -1;
}
.rope:hover{
  cursor: default;
}
.rope img {
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rope.connect{
  animation: connectToContactForm 2s ease-in-out forwards;
}
.contact-form{
  opacity: 0;
  pointer-events: none;
  position: absolute;
  color: white;
  top: 23%;
  transform: translateX(0) scale(0.3);
  width: 90%;
  max-width: 400px;
  margin: auto;
  max-height: 450px;
  background: black;
  border-radius: 10px;
  border: 1px solid #eee;  
  margin: 0 auto;
}
.contact-form.open{
  z-index: 7000;
}
.contact-form.close{
    display: none;
  }

.contact-form .bg{
  opacity: 0;
  position: absolute;
  background: grey;
  /* width: 450px; */
  height: 500px;
  left: -6.5%;
  top: -6%;
}

.contact-form .fg{
  display: none;
  opacity: 1;
  position: absolute;
  width: 450px;
  height: 500px;
  top: 0;
  left: 0;
  transform: translateX(-25px) translateY(-25px);
  z-index: 1500;
}

.contact-form .fg1{
  display: none;
  opacity: 0;
  position: absolute;
  content: "";
  left: -200px;
  top: 0;
  transform: translateX(175px) translateY(-370px);
  border-style: solid;
  border-width: 0 225px 350px 225px;
  border-color: transparent transparent rgb(102, 102, 102) transparent;
  z-index: 1500;
  animation: fg-mail-close 1s forwards 1.5s;
}

.fg2{
  left: -200px;
  top: 0;
}
.sticker{
  display: none;
  opacity: 0;
  position: absolute;
  top: 250px;
  left: 175px;
  width: 50px;
  height: 50px;
  z-index: 1500;
  border: 1px solid black;
  border-radius: 50%;
  transform: scale(10);
  animation: stickOn 1s 2.7s forwards;
}

@keyframes stickOn{
  100%{
    opacity: 1;
    transform: scale(2);
  }
}

.sticker img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes bg-mail{
  100%{
    opacity: 1;
  }
}
@keyframes fg-mail{
  100%{
    opacity: 1;
    border-style: solid;
    border-width: 180px 225px;
    border-color: transparent rgb(118, 118, 118) rgb(146, 146, 146);
  }
}
@keyframes fg-mail-close{
  100%{
    opacity: 1;
    transform: translateX(175px) translateY(-27px);
    border-width: 350px 225px 0 225px;
    border-color: rgb(102, 102, 102) transparent transparent transparent;
    z-index: 1500;
  }
}

@keyframes shrink{
  0%{
    transform: translateX(0) scale(1);
  }
  100%{
    transform: translateX(0) scale(0.7);
    box-shadow: 0px 40px 80px 0 rgba(41, 48, 135, 0.37);
  }
}

@keyframes evenSmaller{
  0%{
    transform: translateX(0) scale(0.3);
  }
  100%{
    transform: translateX(0px) scale(0.1);
  }
}
@keyframes sendOutEmail{
  from { transform: rotate(0deg) translateX(0px) rotate(0deg) scale(0.7); }
    to   {
       transform: rotate(-180deg) translateX(500px) rotate(100deg) scale(0); 
       opacity: 0;
      }
}

@keyframes stayPut{
  75%{
    opacity: 1;
    transform: translateX(-1.5%);
  }
  85%{
    transform: translateX(1.5%);
  }
  100%{
    pointer-events: auto;
    background: transparent;
    transform: translateX(0);
  }
}
.contact-form form{
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 1rem 2.2rem;
  overflow: hidden;
  position: relative;
  font-weight: 700;
  margin: auto;
}



.flex{
  display: flex;
  justify-content: flex-start;
}


.contact-form .input{
    width: 100%;
    outline: none;
    background: black;
    border: 2px solid #fafafa;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

.contact-form textarea.input{
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: none;
}

.input-container label {
    position: absolute;
    top: 22%;
    left: 10px;
    transform: translateY(-20%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    transition: 0.5s;
}
.input-container:nth-of-type(3) label{
    transform: translateY(-120%);
}

.form-title {
    color: white;
    font-weight: 500;
    line-height: 1;
    margin: 10px 0 20px 0;
}

.input-container {
    width: 100%;
    position: relative;
    margin: 1rem 0;
}

.input-container .btn {
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    border: 2px solid #fafafafa;
    font-size: 0.95rem;
    color: #fff;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    margin: 0;
    width: 100%;
}
.input-container .btn:hover {
    background: white;
    color: black;
    font-weight: 700;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
}

.input-container span::before,
.input-container span::after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    height: 5px;
    background: black;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.input-container span::before {
    left: 50%;
}

.input-container span::after {
    right: 50%;
}
.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
    z-index: 1500;
}

@keyframes openGap{
  100%{
    width: 50%;
    opacity: 1;
  }
}

.input-container.focus span::before,
.input-container.focus span::after {
    opacity: 1;
    animation: openGap 0.2s forwards;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes connectToContactForm{
  0%{
    opacity: 1;
    width: 0%;
  }
  
  100%{
    opacity: 1;
    width: 100%;
  }
}



.instructions{
  position: absolute;
  display: flex;
  justify-content: center;
  top: 90%;
  /* top: 0; */
  width: 70%;
  max-width: 400px;
  height: 30px;
  color: white;
  background: transparent;
}

.next:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.instructions .animate{
  animation: shimmer 1.2s linear infinite alternate;
}
.instructions .next{
  display: none;
  width: max-content;
  height: 100%;
  text-align: center;
  position: absolute;
}
.instructions2{
  display: none;
}
.instructions3{
  display: none;
}
.instructions4{
  display: none;
}
.projectsMenu1{
  display: none;
  left: 5%;
}
.projectsMenu2{
  display: none;
  left: 5%;
}
.projectsMenu3{
  display: none;
  left: 5%;
}
.projectsMenu4{
  display: none;
  left: 5%;
}
.nextProject1{
  display: none;
  right: 5%;
}
.nextProject2{
  display: none;
  right: 5%;
}
.nextProject3{
  display: none;
  right: 5%;
}
.nextProject4{
  display: none;
  right: 5%;
}

#stars{
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

@keyframes followButton{
  25%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-500%);
  }
}

@keyframes flyAway {
  0%{
    opacity: 1;
  }
  25%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-2000%);
    opacity: 1;
  }
}


@keyframes starsAnimation {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateX(-1000px);
  }
}

@keyframes shimmer {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.title.fade{
  animation: fadeOut 1s forwards;
}

.titleName.fade{
  animation: fadeOut 1s 2s forwards;
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
  }
}


#stars > .small{
  position: relative;
  width: 1px;
  height: 1px;
  background: white;
  /* background: yellow; */
  opacity: 0;
  z-index: 50;
  margin-bottom: 2.1px;
}



/***** rocket build styles ****/
.rocketCon {
  position: absolute;
  display: flex;
  margin: 4em auto 0;
  top: 38%;
  left: 100%;
  width: 250px;
  animation: rocketMoveY 17s forwards 1;
}

.flame {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(41deg) skew(-24deg, -11deg);
  transform: rotate(41deg) skew(-24deg, -11deg);
  top: 14px;
  left: -6px;
  background: linear-gradient(135deg, #edc200 0%, #edc200 50%, #ee9e00 50%, #ee9e00 100%);
  -webkit-animation: flameMotion .1s infinite;
          animation: flameMotion .1s infinite;
  box-shadow: 0 0 50px 1px rgba(238, 158, 0, 0.5);
}


.rocketBase {
  border-bottom: 10px solid #555;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  height: 0;
  width: 20px;
  transform: rotate(90deg);
  margin-right: -15px;
  margin-top: 25px;
}

.rocket {
  width: 100px;
  height: 60px;
  background: #ebeaeb;
  background: linear-gradient(to bottom, #ebeaeb 0%, #ebeaeb 50%, #dbd9da 51%, #dbd9da 100%);
  position: relative;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  text-indent: .1em;
}
.rocket:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 10% / 100%;
}

.window {
  background: linear-gradient(to bottom, #6fc3eb 0%, #6fc3eb 50%, #5fb0cd 51%, #5fb0cd 100%);
  width: 30px;
  height: 30px;
  margin: 18px 0 0 50px;
  border-radius: 50%;
  position: relative;
  z-index: 100000;
  transform: rotate(180deg);
}
.window img{
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5px;
  width: 70%;
  height: 70%;
}

.rocketNose {
  margin-top: -18px;
  margin-left: -15px;
  width: 4em;
  height: 4em;
  overflow: hidden;
  position: relative;
  border-radius: 20%;
  transform: translateY(50%) rotate(0deg) skewY(30deg) scaleX(0.866);
}
.rocketNose:before, .rocketNose:after {
  width: 4em;
  height: 4em;
  position: absolute;
  background: crimson;
  background: linear-gradient(-154deg, #dd4f4d 0%, #dd4f4d 65%, #c24040 66%, #c24040 100%);
  pointer-events: auto;
  content: '';
}
.rocketNose:before {
  border-radius: 20% 20% 20% 53%;
  transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(0.866) translateX(-24%);
}
.rocketNose:after {
  border-radius: 20% 20% 53% 20%;
  -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
          transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(0.866) translateX(24%);
}

.bottomWing {
  width: 0;
  height: 0;
  border-top: 20px solid #555;
  border-right: 40px solid transparent;
  position: absolute;
  top: 56px;
  left: 36px;
  z-index: -100;
}

.topWing {
  width: 0;
  height: 0;
  border-bottom: 20px solid #555;
  border-right: 40px solid transparent;
  position: absolute;
  top: -14px;
  left: 36px;
  z-index: -100;
}



@keyframes rocketMoveY {
  0% {
    transform: rotate(130deg) scale(0);
    top: 0%;
    left: 50%;
  }
  30%{
    transform: rotate(180deg) scale(1.5);
    top: 37%;
  }
  100% {
    transform: rotate(180deg);
    top: 37%;
    left: -120%;
  }
}

@-webkit-keyframes flameMotion {
  0% {
    opacity: .4;
    -webkit-transform: translate(5px, 0px) scale(1, 1.1) rotate(53deg) skew(-10deg, -20deg);
            transform: translate(5px, 0px) scale(1, 1.1) rotate(53deg) skew(-10deg, -20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1.4, 1) rotate(53deg) skew(-10deg, -20deg);
            transform: translate(0px, 0px) scale(1.4, 1) rotate(53deg) skew(-10deg, -20deg);
  }
}
@keyframes flameMotion {
  0% {
    opacity: .4;
    -webkit-transform: translate(5px, 0px) scale(1, 1.1) rotate(53deg) skew(-10deg, -20deg);
            transform: translate(5px, 0px) scale(1, 1.1) rotate(53deg) skew(-10deg, -20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px) scale(1.4, 1) rotate(53deg) skew(-10deg, -20deg);
            transform: translate(0px, 0px) scale(1.4, 1) rotate(53deg) skew(-10deg, -20deg);
  }
}

@keyframes fly {
  0%{
    transform: rotate(0deg) translateX(200px) rotate(0deg);
  }
 
  100%{
    transform: rotate(-360deg) translateX(200px) rotate(360deg) ;
  }
}
.ufo{
  display: none;
  position: absolute;
  top: 45%;
  left: 47%;
  width: 50px;
  height: 50px;

  animation: fly 5s linear infinite;
  z-index: 980;
}
.ufo img {
  width: 100%;
  height: 100%;
}




@keyframes planetAppears{
  100%{
    left: 0;
  }
}

#planet {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transform: scale(0);
  margin: auto;
  opacity: 1;
  animation: fadeIn 5s forwards 5s;
  animation-fill-mode: forwards;
  z-index: 6000;
  pointer-events: none;
}
#planet.next{
  animation: nextSection 1s ease forwards;
}

.ball1.drop{
  left: 15%;
}

@keyframes nextSection{
  0%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(0.6);
    top: 5%;
  }
}
@keyframes drop{
  100%{
    transform: scale(0.6);
    top: 45%;
  }
}
  
@keyframes showSection {
  0%{
    z-index: -1;
    transform: translateY(0) scale(1);
  }

  100%{
    transform: translateY(250px) scale(2.5);
    left: -50%;
    margin: auto;
    opacity: 1;
  }
}

@keyframes ballToSquare{
    50%{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    }
  100%{
    background: transparent;
    transform: translateY(150px);
    border-radius: 10px;
    width: 85%;
    left: 0;
    max-width: 500px;
    height: 65%;
    margin: 0 auto;
    opacity: 1;
  }
}

@keyframes squareToBall{
  0%{
    background: transparent;
    transform: translateY(150px);
    border-radius: 10px;
    width: 85%;
    left: 0;
    max-width: 500px;
    height: 65%;
    margin: 0 auto;
    opacity: 1;
  }
  20%{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
  }
  100%{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: -50px;
    opacity: 1;
  }
}

.wrap {
  animation: rotateDiagonally 2000ms infinite ease-in-out alternate, zindex 4000ms infinite ease-in-out;
  position: absolute;
  transition: 1s;
}



.ball {
  position: relative;
  width: 50px;
  height: 50px;

  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.15) inset;
  background-color: #E3746B;
  border-radius: 50%;
  animation: scale 2000ms infinite ease-in-out alternate;
  animation-delay: -500ms;
  transform: scale(0.5);
  border: 2px solid black;
}

.details{
  position: absolute;
  background: transparent;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0px);
  border-radius: 50%;
  border: 3px solid #E3746B;
  margin: auto;
  width: 50px;
  height: 50px;

  opacity: 0;
}
.details.hide{
  animation: reveal 1s reverse forwards;
}


.details .img {
  width: 50%;
  max-width: 150px;
  height: 50%;
  max-height: 150px;
  margin: 0 auto 15px auto;
}
.details .img img{
  border-radius: 10px;
  width: 100%;
  height: 100%;
}


.content1 {
  display: none;
  opacity: 0;
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 40px 40px 50px 40px;
  overflow: auto;
  scroll-behavior: smooth;
  transition: 0.5s;
  transform: 1s;
  border-radius: 10px;
}
.content1::-webkit-scrollbar{
  width: 10px;
}
.content1::-webkit-scrollbar-track{
  border: 2px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.content1::-webkit-scrollbar-thumb{
  background: linear-gradient(
    45deg,
    white,
    #E3746B
    );
  border-radius: 5px;
  border-top-left-radius: 0; 
}

.details h1{
  text-align: center;
  margin-bottom: 15px;
}
.content1 h3{
  margin-top: 25px;
}
.content1 p{
  font-size: 1.05rem;
  line-height: 1.5rem;
}
.content1 p:nth-of-type(1){
  margin: 20px 0;
}
.content1 .resume{
  position: relative;
  width: 100%;
  height: max-content;
  text-align: center;
  margin-top: 40px;
}
.content1 button {
  width: 80%;
  max-width: max-content;
  height: 100%;
  padding: 10px;
  background: transparent;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  border: 3px solid grey;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  font-size: 1rem;
}
.content1 button::before,
.content1 button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}
.content1 button:hover{
  color: black;
  cursor: pointer;
}

.content1 button::after {
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.content1 button:hover:after {
  height: 100%;
  width: 135%;
}




#ball_planet {
  width: 112.5px;
  height: 112.5px;
  box-shadow: 0 -11.25px 0 rgba(0, 0, 0, 0.15) inset;
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  animation: none;
  transform: none;
  pointer-events: none;
}




#wrap2 {
  animation-delay: -1000ms;
}

#ball2 {
  background-color: #397BF9;
  animation-delay: -1500ms;
}

#wrap3 {
  animation-delay: -2500ms;
}

#ball3 {
  background-color: #F4B400;
  animation-delay: -3000ms;
}

#wrap4 {
  animation-delay: -3500ms;
}



@keyframes rotateDiagonally {
  0% {
    transform: translateX(0) translateY(25px);
  }
  100% {
    transform: translateX(200px) translateY(-25px);
  }
}
@keyframes rotateSideWays{
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200px) translateY(0);
    opacity: 1;
  }
}
@keyframes scale {
  80% {
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}
@keyframes zindex {
  25% {
    z-index: 1;
  }
  75% {
    z-index: -1;
  }
}
@keyframes fadeIn {
  100% {
    transform: scale(1.1) translateY(0);
    opacity: 1;
  }	
}

.portfolio{
  display: none;
  opacity: 0;
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 40px 40px 50px 40px;
  overflow: auto;
  scroll-behavior: smooth;
  transition: 0.5s;
  transform: 1s;
  border-radius: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 1fr 1fr;
  grid-template-areas:
  'title title'
  'app1 app2'
  'app3 app4';
  grid-gap: 15px;
}
.project{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
.project:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.portfolio h1{
  grid-area: title;
}
.app1 {
  position: relative;
  background: linear-gradient(rgba(26, 183, 234, 80%), rgba(85, 172, 238, 1));
  grid-area: app1;
  border-top-left-radius: 10px;
}

.front{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.app1:hover .back1{
  background: url(./pictures/hangryPic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 10px;
}
.app1:hover .title{
  padding: 5px;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 0px 2px 2px black;
  background: linear-gradient(rgba(26, 183, 234, 50%), rgba(85, 172, 238, 0.5));
  border-radius: 10px;
}


.app2 {
  position: relative;
  background: linear-gradient(
35deg
,#81d6f2,#4ab1f5);
  grid-area: app2;
  border-top-right-radius: 10px;
}
.app2:hover .back2{
  background: url(./pictures/adventuresPic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 10px;
  
}
.app2:hover .title{
  padding: 2px;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 0px 2px 2px black;
  background: linear-gradient(
35deg
,rgb(24, 179, 231, 0.5),rgb(74, 177, 245, 0.5));
  border-radius: 10px;
}

.app3 {
  position: relative;
  background: linear-gradient(
180deg
, black, rgb(27, 38, 77), rgb(42, 59, 123));
  grid-area: app3;
  border-bottom-left-radius: 10px;
}

.app3:hover .back3{
  background: url(./pictures/disneyPic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
}

.app3:hover .title{
  padding: 2px;
  font-weight: 700;
  font-size: 1.2rem;
  text-shadow: 0px 2px 2px black;
 background: linear-gradient(
180deg
, black, rgb(27, 38, 77, 0.9), rgb(42, 59, 123, 0.9));
  border-radius: 10px;
}

.app4 {
  position: relative;
  background: #4e9525;
  grid-area: app4;
  border-bottom-right-radius: 10px;
}

.app4:hover .back4{
  background: url(./pictures/freshPic.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 10px;
}

.app4:hover .title{
  padding: 4px;
  font-weight: 700;
  font-size: 1.3rem;
  text-shadow: 0px 2px 2px black;
  background: rgb(78, 149, 37, 0.5);
  border-radius: 10px;
}

.portfolio::-webkit-scrollbar{
  width: 10px;
}
.portfolio::-webkit-scrollbar-track{
  border: 2px solid white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.portfolio::-webkit-scrollbar-thumb{
  background: linear-gradient(
35deg
,rgb(24, 179, 231, 1),rgb(74, 177, 245, 1));
    border-radius: 5px;
    border-top-left-radius: 0; 
}

.portfolio.advWitChu::-webkit-scrollbar-thumb{
  background: linear-gradient(
35deg
,#81d6f2,#4ab1f5);
    border-radius: 5px;
    border-top-left-radius: 0; 
}

.portfolio.disney::-webkit-scrollbar-thumb{
  background:  linear-gradient(
180deg
,  rgb(27, 38, 77, 1), rgb(42, 59, 123, 1), white);
    border-radius: 5px;
    border-top-left-radius: 0; 
}

.portfolio.fresh::-webkit-scrollbar-thumb{
  background: linear-gradient(
    45deg,
    white,
  #4e9525
    );
    border-radius: 5px;
    border-top-left-radius: 0; 
}




.portfolio p:nth-of-type(1){
    margin-top: 25px;
}
.portfolio p{
    font-weight: 700;
    margin-bottom: 15px;
}
.hangry{
  display: none;
  width: 100%;
  height: 100%;
}
.hangry a{
  text-decoration: none;
  color: rgba(85, 172, 238, 1);
}
.hangry a:hover{
  cursor: pointer;
  color: rgb(161, 207, 243);

}
.mp4{
  width: 100%;
  margin-bottom: 20px;
}
.mp4 p {
  margin-bottom: 20px;
}
.mp4 .video{
  width: 100%;
  height: 100%;
}
.mp4 .video video{
  width: 100%;
  height: 100%;
}
.adventuresWithChu{
  display: none;
  width: 100%;
  height: 100%;
}
.adventuresWithChu a{
  text-decoration: none;
  color: rgb(74, 177, 245, 1);
}
.adventuresWithChu a:hover{
  cursor: pointer;
  color: rgb(176, 215, 242);
}
.disneyPlus{
  display: none;
  width: 100%;
  height: 100%;
}
.disneyPlus a{
  text-decoration: none;
  color:  #4e9525;
}
.disneyPlus a:hover{
  cursor: pointer;
  color: #7ae83a;
}
.disneyPlus a{
  text-decoration: none;
  color: rgb(81, 112, 225);
}
.disneyPlus a:hover{
  cursor: pointer;
  color: rgb(104, 132, 235);
}


.freshCuts{
  display: none;
  width: 100%;
  height: 100%;
}

.freshCuts a{
  text-decoration: none;
  color: #7ae83a;
}
.freshCuts a:hover{
  cursor: pointer;
  color:  #a7e882;
}

.contactMe{
  display: none;
  opacity: 0;
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
  text-align: justify;
  padding: 40px 40px 50px 40px;
  overflow: auto;
  scroll-behavior: smooth;
  transition: 0.5s;
}


/* NOTE: MediaQuery for 770px */

@media (max-width: 770px){
   .rocketCon {
     left: 50%;
    animation: rocketMoveY 10s forwards;
  }
  .instructions{
    width: 100%;
  }
  .details .img {
    max-width: 100px;
    max-height: 100px;
  }
  .down {
    /* display: block; */
    position: absolute;
	  text-align: center;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    /* width: 150px; */
    width: 100%;
    padding: 15px 0;
    animation: bounce 2s infinite;
  }

  .fa {
	  color: #fff;
  }
  


  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  .project .title{
    font-size: 1rem;
  }
}

@media (max-width: 1250px){
    body{
    overflow: hidden
  }
  .socialMedia a:nth-of-type(1){
    margin: 0;
  }
  #nav-icon{
    display: flex;
  }
  .links{
    display: none;
    position: absolute;
    top: 110px;
    left: 25%;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    background: transparent;
    transition: 0.2s;
    z-index: -100;
    pointer-events: none;
    opacity: 0;
  }
  .links ul{
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  .links ul li{
    text-align: center;
    padding: 30px 0;
    width: 50%;
  }
  .link{
    transform: translateX(150%);
  }
 
  @keyframes slideIn {
    0%{
      display: none;
      transform: translateX(30%);
    }
    100%{
      display: block;
      transform: translateX(0);
    }
  }
  .links.open{
    display: block;
    left: 25%;
    z-index: 7500;
    opacity: 1;
    pointer-events: auto;
  }
  .link.open{
    animation: slideIn 1s forwards
  }

  @keyframes close{
    from{
      opacity: 1;
      transform: scale(1);
    }
    to{
      opacity: 0;
      transform: scale(0) translateX(20%) translateY(100%);
    }
  }
  .title.close{
    animation: close 1s forwards;
  }
    .rocketCon {
    animation: rocketMoveY 16s forwards;
  }
}